
<div class="row no-padding-bottom clearfix">

    <div class="col-3" style="margin-left: 16%;">
        <div class="section-heading">
            <h3>Unlocking the Future: </h3>
            <h2 class="section-title">The Power of Facial Recognition Technology</h2>
            <p class="section-subtitle">Facial recognition software offers a myriad of benefits across various sectors,
               revolutionizing the way we interact with technology and enhancing security measures.</p>
        </div>
        <p>In the realm of law enforcement and public safety, facial recognition enables rapid identification of individuals, 
          aiding in the apprehension of suspects and locating missing persons. In commercial settings, 
          it facilitates personalized customer experiences, streamlining authentication processes, and improving marketing strategies.
        </p>
        <p>
          Moreover, in healthcare, facial recognition technology enhances patient identification and access to medical records, 
          ensuring efficient and accurate care delivery. With its ability to automate tasks, enhance security, 
          and improve user experiences, facial recognition software represents a powerful tool driving innovation and efficiency in diverse industries.
        </p>
        <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
        <a href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
            WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
        </a>
    </div>
    <!--End Content Right Side-->

    <div class="col-3" style="margin-top: 200px;">
        <img src="../assets/images/logo.png" alt="FaceAtt"/>
    </div>

</div>
