<!--Introduction-->
<section id="about" class="introduction scrollto">

    <div class="row clearfix">

        <div class="col-3">
            <div class="section-heading">
                <h3>Key app features</h3>
                <h2 class="section-title">Some of the features offered by FaceAtt.</h2>
                <p class="section-subtitle">Introducing a cutting-edge facial recognition application designed to streamline dynamic tasks, visitor management, and attendance tracking, all accessible right from your smartphone. This innovative solution incorporates advanced artificial intelligence features, including motion detection capabilities. To ensure security and accuracy, the system prompts users to perform randomized actions, confirming their live presence and validating authorization for task execution.</p>
            </div>

        </div>

        <div class="col-2-3" style="margin-top: 100px;">

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-clock fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Time & attendance</h4>
                    <p>Suitable for Time and Attendance Tracking in Office or Remote Settings.</p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-lock fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>User permit authentication</h4>
                    <p>Empowering User Authentication for Enhanced Security and Fraud Prevention.</p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-clipboard fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Dynamic Reports</h4>
                    <p>Capable of Generating Forms and Reports Across Timezones for Authenticated Users.</p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-user fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Visitor Access Log</h4>
                    <p>Efficiently Manage Visitor Access and Departures at Your Premises.</p>
                </div>
            </div>
            <!--End of Icon Block-->

        </div>

    </div>


</section>
<!--End of Introduction-->
