<!--Pricing Tables-->
<section id="pricing" class="secondary-color text-center scrollto clearfix ">
    <div class="row clearfix">

        <div class="section-heading">
            <h3>The decision is yours.</h3>
            <h2 class="section-title">We offer the perfect package tailored to your needs.</h2>
        </div>

        <!--Pricing Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s">
            <div class="pricing-block-content">
                <h3>Free version</h3>
                <p class="pricing-sub">1 - 10 Users</p>
                <div class="pricing">
                    <div class="price"><span>R</span>0.0</div>
                    <p>Monthly per capita</p>
                </div>
                <ul>
                    <li><b>50 Task Reports </b> monthly </li>
                    <li> <b>50 Visitor Logs</b> monthly </li>
                </ul>
                <a href="#" class="button">BUY TODAY</a>
            </div>
        </div>
        <!--End Pricing Block-->

        <!--Pricing Block-->
        <div class="pricing-block featured col-3 wow fadeInUp" data-wow-delay="0.6s">
            <div class="pricing-block-content">
                <h3>Conventional option</h3>
                <p class="pricing-sub">31 - 100 Users</p>
                <div class="pricing">
                    <div class="price"><span>R</span>36.79</div>
                    <p>Monthly per capita</p>
                </div>
                <ul>
                    <li><b>Unlimited</b> Task Reports</li>
                    <li><b>Unlimited</b> Vistor Logs</li>
                </ul>
                <a href="#" class="button">BUY TODAY</a>
            </div>
        </div>
        <!--End Pricing Block-->

        <!--Pricing Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div class="pricing-block-content">
                <h3>Premium Version</h3>
                <p class="pricing-sub">11 - 30 Users</p>
                <div class="pricing">
                    <div class="price"><span>R</span>55.28</div>
                    <p>Monthly per capita</p>
                </div>
                <ul>
                  <li><b>Unlimited</b> Task Reports</li>
                  <li><b>Unlimited</b> Vistor Logs</li>
                </ul>
                <a href="#" class="button">BUY TODAY</a>
            </div>
        </div>
        <!--End Pricing Block-->

    </div>
    <small>Kindly be advised that pricing is subject to potential alterations without prior notification.</small>
</section>
<!--End of Pricing Tables-->
